<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>541117570427-6kva8toh389elub6ebs7cvc59dh3lrnf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.541117570427-6kva8toh389elub6ebs7cvc59dh3lrnf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>541117570427-96re52h2lmpbrl173fj5658n9bdn01eu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDxmB7P7LLTYXP_cNRfPYi3Us0sazAp5bM</string>
	<key>GCM_SENDER_ID</key>
	<string>541117570427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vnp.quanlybanthuoc</string>
	<key>PROJECT_ID</key>
	<string>quanlybanthuoc-1226</string>
	<key>STORAGE_BUCKET</key>
	<string>quanlybanthuoc-1226.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541117570427:ios:7773d1a0f8edeacb</string>
	<key>DATABASE_URL</key>
	<string>https://quanlybanthuoc-1226.firebaseio.com</string>
</dict>
</plist>